<!doctype html>
<html lang="en" data-theme="light">
<head>
    {% block head %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}APIS Data Explorer{% endblock %}</title>

    <link href="{% static 'apis_data_explorer/pico.min.css' %}" rel="stylesheet">
    <link href="{% static 'apis_data_explorer/app.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body class="layout-shell">
    <header>
        {% block header %}
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="contrast">
                        <strong>APIS Data Explorer</strong>
                    </a>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </header>
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}
        <div class="container footer-content">
            <small>APIS Data Explorer Footer</small>
        </div>
        {% endblock %}
    </footer>

</body>
</html>